[submodule ".vim/bundle/vimclojure"]
	path = .vim/bundle/vimclojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/python-syntax"]
	path = .vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax
