# General ignores
*.swp
*.pyc
*.class
*.log
*.tmp

# emh extensions
*.cache
# profiler data
*.prf
*.out.*
*test*
*backup*

# C ignores
*.o
.deps

# Other git repositories
/devel/nmuse

# XXX: oops, passwords included.. not important passwords, but still..
# .irssi/config
# etc/wpa_supplicant.conf

# Interesting files to keep, just not sure versioning is good
# list of installed packages should also go into volatile sync
/.zsh/history
/.play_history
/.bash_history.1
/.bash_history
/.hostlog
/.ipython/history
/.lastlog
/.mysql_history
/.psql_history
/.pyhistory
/.pythonhist
/.scala_history
/.sqlite_history
/.viminfo
# windows vim
/_viminfo
# tcsh?
/.history
/.python_history
/.lein_history

# SSH
# Config should be symlinked to dropbox.
# Keys can be regenerated for each machine.
/.ssh

# Remove in the future
#/.ipython

# Sensitive, got these in .gpg version in git
/.ssh/id_dsa
/.ssh/id_rsa

# accounts.gpg backup file
/.accounts.gpg

# hmm.. it _is_ password protected, no? but merge problems
# better to store git tree on encrypted fs
/.gnupg


# Fix relative symlinks if possible
/bin/baudline
/bin/chipfs.py
/bin/clue
/bin/eclipse
/bin/editor
/bin/freedb-dumprecord.py
/bin/freedb-search.py
/bin/freedb-submit.py
/bin/googleearth
/bin/idal
/bin/locate-album.py
/bin/mpd-album-player.py
/bin/nmuse
/bin/radioscheduler.py
/bin/rtorrent-rpc
/bin/sendsms.py
/bin/specbuild
/bin/tag-to-filenames.py
/bin/tagreader.py

# temp symlinks and scripts
/bin/mplayer
/bin/SyncPOD
/bin/ant
/bin/eclimd
/bin/idea
/bin/jython
/bin/sync_pod.pl
/bin/wop
/bin/xsession.sh

# Backup/temp data
/.mutt/sent

# Auto-generated data
/devel/www/data/poetry

# Autogenerated application configuration files
# XXX: not completely checked category

/.AbiSuite
/.announce
/.BitTornado
/.DCOPserver*
/.ICEauthority
/.Skype
/.Xauthority
/.Xdefaults-*
/.adobe
/.aptitude
/.asoundrc.asoundconf
/.atftp_history
/.azureus
/.baudline
/.camstream
/.ccache
/.cedega
/.cedegarc
/.config
/.cpan
/.crack-attack
/.cups
/.cvspass
/.cvsps
/.davfs2
/.dbus
/.debtags
/.dmrc
/.dosemu
/.dvdcss
/.eclim
/.eclipse
/.elinks
/.fishsrv.pl
/.fontconfig
/.fonts/Vera*.ttf
/.fullcircle
/.gconf
/.gconfd
/.gegl-0.0
/.gem
/.gimp-2.4
/.gimp-2.6
/.gitk
/.gnome
/.gnome2
/.google
/.googleearth
/.gqview
/.gstreamer-0.10
/.gtk_qt_engine_rc
/.gtkrc-2.0-kde
/.hplip
/.hplip.conf
/.html2textrc
/.htoprc
/.icons
/.idapro
/.inkscape
/.ipython/__init__.py
/.ipython/ipy_profile_sh.py
/.ipython/ipy_user_conf.py
/.ipython/ipythonrc-*
/.irssi/away.log
/.irssi/urlplot
/.java
/.jython
/.jython-cache
/.kde
/.kde4
/.kismet
/.lesshst
/.lftp
/.limewire
/.local
/.loki
/.macromedia
/.matlab
/.matplotlib
/.mcop
/.mcoprc
/.mldonkey
/.motion
/.mozilla
/.mplayer/gui*
/.mplayer/registry
/.msf3
/.musicdns_cache
/.mutt/gpg.rc
/.nvidia-settings-rc
/.openarena
/.opendict
/.openoffice.org2
/.opera
/.pdfedit
/.profile
/.pulse-cookie
/.purple
/.putty
/.pylint.d
/.python-eggs
/.qemu_history
/.qt
/.recently-used
/.recently-used.xbel
/.reportbugrc
/.rnd
/.sane
/.scribus
/.sidplay
/.subversion
/.sudo_as_admin_successful
/.texmf-var
/.tdrc
/.thumbnails
/.transgaming_global
/.urllog
/.vlc
/.vmware
/.wine
/.wireshark
/.wxglade
/.xbmc
/.xsession-errors
/.yjp

/.WoPadman
/.amsn
/.batik
/.cgobanrc
/.g50auth
/.gnomad2rc
/.gnuplot-wxt
/.gnuplot_history
/.gphoto
/.gtkpod
/.hotwire
/.install4j
/.ipod
/.ipython/db
/.jline-jython.history
/.jythonconsole.history
/.keychain
/.m2
/.nbprofiler
/.netbeans
/.nutdb
/.org.eclipse.epp.usagedata.recording.userId
/.pki
/.pulse
/.qGorc
/.quantz
/.ssh/id_dsa.pub
/.ure
/.vim/.VimballRecord
/.vim/.netrwhist
/.visualvm
/.xscreensaver
/.yed3
/.zgrviewer

/.compiz
/.gtk-bookmarks
/.gtkrc-2.0
/.heroku
/.lein
/.mission-control
/.netrc
/.npm
/.xsession-errors.old
/.zcompdump

# Real data
/Desktop
/Downloads
/altibox
/linksys-wrt54g-v7.0
/homestuff
/jobbkatalog
/todo

# Temp folders and files
/dwhelper

# Mounts and symlinks
/ehv022
/alexis
/chip
/localcopy

# Per host files
/.forward

# emh app storage
/.gmail

# Uib app configs
/.acrobat
/.aldrc
/.aumixrc
/.chewing
/.dia
/.esd_auth
/.evolution
/.flexlmrc
/.fonts.cache-1
/.gconf.*
/.geany
/.gkrellm2/data/net
/.gnome-desktop
/.gsview.ini
/.gtkrc-1.2-gnome2
/.iiim
/.irssi/default.theme
/.links
/.liquidwarrc
/.login
/.lyx
/.mailboxlist
/.mailcap
/.maple10rc
/.metacity
/.mime.types
/.mpd.conf
/.nautilus
/.ncftp
/.nx
/.openoffice*
/.raidem
/.rh-fontconfig
/.rhn-applet.conf
/.rhn-applet
/.scim
/.ssh2
/.sunstudio
/.sunw
/.sversionrc
/.thunderbird
/.vnc
/.xdvirc
/.xmms

# ubuntu VM home dir
/dev
/gdrive
/github
/homedir-alexis
/host
/.PyCharm30
/.dropbox-dist
/.dropbox
/.gmvault
/.pycharm_helpers
/Dropbox/
/d
/gmvault-db/
/i
/pycharm-community-3.0
/.bundler

# looks like a cache
/.vim/bundle/.vundle
/.vim/bundle/.neobundle
# managed by vundle

# rasmus home dir
/cvsdirs
/data
/download
/iaeste
/inf101
/lib
/public_html
/share
/software
/sunusr
/usr

# alexis home dir
/htpasswd
/login.uib.no
/backup

# rainmaker home dir
/.dbshell
/.links2/
/.mongorc.js
/.node-gyp/
/.node_repl_history
/.oracle_jre_usage/
/foreign/
/non-github/
/.rts
/.FFDec/
/.v8flags.4.6.85.31.emh.json
/.wget-hsts
/emhvidev-login.uio.no/
/.cmg/
/.emscripten
/.emscripten_cache.lock
/.emscripten_cache/
/.emscripten_ports/
/.emscripten_sanity
/.ocamlinit
/.opam/
/bucklescript/
/ocaml/
/.julia/

# Symlink to .vim
/.nvim

# Added legion laptop 15.12.2023
/.audacity-data
/Calibre Library
/.deepface
/Documents/FS-UAE
/.ipython
/.jupyter
/.keras
/.nv
/Pictures
/.pm2
/.qmmp
/snap
/.soundmeter
/.uade
